<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770428227091-4c4nbko5dod73j94f5m3246dohkm9ff3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770428227091-4c4nbko5dod73j94f5m3246dohkm9ff3</string>
	<key>API_KEY</key>
	<string>AIzaSyBZjZCZX5g_1LaYEWDvGW_nuDiDenXE3C0</string>
	<key>GCM_SENDER_ID</key>
	<string>770428227091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovatorhaven.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-app-on-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-app-on-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770428227091:ios:8e140f477d31c9e09e79e6</string>
</dict>
</plist>